/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}


nav{
	background: green;
	height: 5vh; 
}
header {
	display: grid;
	height: 25vh;
	grid-template-columns: 1fr 3fr 3fr 1fr;
}
.header-left {
	height: 100%;
	background: pink;
	grid-column: 2;
}

.header-right {
	height: 100%;
	background: cyan;
	grid-column: 3;
}

.hero {
	display: grid;
	height: 75vh;
	grid-template-columns: 1fr 3fr 3fr 1fr;
	grid-row: 1fr 1fr;
}

.hero>.left {
	display: grid;
	grid-template-rows: 3fr 2fr;
	grid-column: 2;
	height: 100%;
	
}

.left-top {
	height: 100%;
	background: blue;
}
.left-bottom {
	height: 100%;
	background: red;
}

.hero > .right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
}

.right-top {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column: span 2;
}

.right-top-left {
	height: 100%;
	background: yellow;
}
.right-top-right {
	height: 100%;
	background: purple;
}

.right-bottom {
	height: 100%;
	background: lime;
	grid-column: span 2;
}

.popular-articles {
	display: grid;
	height: 30vh;
	grid-template-rows: 1fr 1fr;
	background: grey;
	justify-items: center;
	align-items: center;
}

.popular-articles h2 {
	height: 10vh;
	width: 10%;
	background: white;
}



.articles {
	display: grid;
	grid-auto-flow: column;
	width: 80%;
	height: 100%;
	background: yellow;
}

.article {
	border: 1px solid black;
}

.latest-stories {
	display: grid;
	grid-template-columns: 2fr 7fr 2fr;
	grid-template-rows: 3fr 5fr 2fr;
	background: green;
	height: 100vh;
}

.latest-stories h2 {
	height: 10vh;
	background: white;
	grid-column: 2;
	width: 20%;
	align-self: center;
}

.all-news {
	grid-column: 2;
	grid-row: 3;
	justify-self: center;
	align-self: center;
}

.stories {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column: 2;
	grid-row: 2;
}

.story {
	height: 20vh; 
	border: 1px solid black;
	background: purple;
}

.explore-channels {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 2fr 2fr;
	background: grey;
	height: 60vh;
}

.explore-channels h2 {
	height: 10vh;
	background: white;
	grid-column: 2;
	width: 20%;
	align-self: center;
}

.channels {
	grid-column: 2;
	grid-row: 2;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 15px;
}

.channel {
	background: purple;
	height: 20vh;
	border: 1px solid black;
}

.cta {
	background: magenta;
	height: 40vh;
}

.what-we-made {
	height: 100vh;
	background: rgb(184, 182, 182);
}	
.what-we-made h2 {
	margin-left: 10%;
	padding: 100px 0;
	height: 10vh;
	background: rgb(184, 182, 182);
}
.what-we-made > .content {
	border: 1px solid black;
	height: 70%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: 5fr 1fr;
	width: 80%;
}

.what-we-made-left {
	background: pink;
}

.what-we-made-right {
	background: cyan;
}

.work-with-us {
	background: rgb(219, 218, 218);
	height: 50vh;
}

.content {
	border: 1px solid black;
	height: 70%;
	width: 70%;
	margin: 0 auto;
	display: grid;
	grid-auto-flow: column;
}

.work-with-us-left {
	background: pink;
}

.work-with-us-right {
	background: teal;
}


.companies {
	height: 100%;
	width: 60%;
	background: yellow;
	margin: 0 auto;
}

footer {
	height: 50vh;
	background: black;
}











